* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.products {
  max-width: 1600px;
  margin: auto;
  display: flex;
}
.product {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
.product img {
  width: 300px;
  height: 200px;
  object-fit: contain;
}
.product h2 {
  text-transform: capitalize;
}
.product img,
.product h2,
.product p,
.product button {
  margin-bottom: 8px;
}
